.home-page {
    display:flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.menu-container {
    width: 20%;
    z-index: 1;
}

.body-container {
    width: 60%;
    height: 100vh;
}

.trips {
    background-color: #f0f0f0;
    width: 100%;
    height: calc(100vh - 120px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
    overflow-y: auto;
}


.chat-container {
    background-color: green;
    width: 20%;
}