/* Layout Styles */
.review-page {
  display: flex;
  height: 100vh;
}

.menu-container {
  width: 20%;
  background-color: #4caf50;
}

.body-container {
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-container {
  width: 20%;
  background-color: #f5f5f5;
  padding: 1rem;
}

/* Review Box Styles */
.trips {
    background-color: #f0f0f0;
    width: 100%;
    height: calc(100vh - 120px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 0 50px 0;
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

.review-box {
    width: 625px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.review-box h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.review-box textarea {
    width: 90%;
    height: 200px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

/* Star Rating Styles */ 
.star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.star {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ccc;
}

.star.selected {
  color: #ff9800;
}

/* Button Styles */
.post-review-btn {
    display: center;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 2rem;
    margin-top: auto;
    border: #b2b2b2 solid 1px;
    height: 60px;
    align-items: center;
}

.post-review-btn:hover {
  background-color: #e68900;
}
